*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;

}

/*css for header*/
header{
	background: url(../images/bg2.jpg);
	height: 110vh;
	background-size: cover;
	background-position: center;
}

nav{
	height: 75px;
	border-bottom: 2px solid whitesmoke;
	display: flex;
	justify-content: center;
	align-items: center;
	position: sticky;
	top: 0;
	background-color: white;
}

nav > ul {
	display: flex;
	list-style-type: none;
}

nav > ul>li{
	margin: 0 20px;
}
/*styling for all buttons*/
.btn{
	padding: 10px 20px;
	border-radius: 15px;
	border: none;
}
.btn-product{
	background-color: pink;
	font-size: 15px;
	font-weight: bold;
}

#navbarbtn{
	position: absolute;
	right: 50px;
	top: 18px;
}

#navbarbtn:hover{
	top: 15px;
	transition: .3s;
}

/*disappearing menu css*/
.submenu{
	background-color: lightgray;
	width: 80%;
	border-radius: 15px;
	height: 200px;
	display: flex;
	position: absolute;
	left: 10%;
	top: 45px;
	visibility: hidden;
}

.submenu > div {
	width: 25%;
}

div + div{
	border-left: 1px solid gray;
}

.submenu > div > h4, .submenu > div > p{
	margin: 10px 0;
	padding: 0 10px;
}

.submenu > div > p:hover{
	background-color: gray;
}

#megamenu:hover > .submenu, #megamenu > .submenu:hover{
	visibility: visible;

}
.headertext > h1 {
	font-size: 50px;
}

.headertext > div > .btn{
	margin-top: 20px;
	background-color: black;
	color: white;
}

.headertext{
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 90vh;
}

.headertext > h1, .headertext > p, .headertext > div > button {
	margin-left: 50px;
}

/*end css for header*/

/*start of quote css*/

.quote {
	height: 50vh;
	border-bottom: 1px solid gray;
	display: flex;
	justify-content: center;
	align-items: center;
}

.quote > div {
	width: 50%;
	text-align: center;
}

.quote > div > div{
	text-align: center;
	margin-top: 20px;
}

/*end of quote css*/

/*start of overview*/

.overview {
	height: 100vh;
	/*width: 100vw;*/
	display: flex;
}

.image{
	height: 100vh;
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	/*padding: 2rem;*/
}

.overview > .image > img {
	width: 85%;
	height: 350px;
}

.overview-text{
	height: 350px;
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 145px;
	/*padding: 2rem;*/
	border-left: none;
}

.overview-text > h1{
	font-size: 30px;
}

.bottom{
	display: flex;
}

.bottom > div {
	width: 25%;
}

.bottom h1{
	font-size: 45px;
}

.bottom span{
	font-size: 20px;
	position: relative;
	bottom: 20px;
}
#times{
	border-left: none;
	margin-left: 2rem;
}

/*end of overview*/

/*start of review css*/
.review{
	height: 100vh;
	/*width: 100vw;*/
	text-align: center;
}

.rev-title{
	display: flex;
	justify-content: center;
	height: 25vh;
	/*flex direction: column;
	width: 100vw;*/
}


.rev-content > img{
	width: 80px;
	height: 80px;
	border-radius: 50%;
	display: flex;
	position: relative;
	top: 40px;
	left: 100px;
}

.rating{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 25vh;

}

.content1 > img{
	display: flex;
	justify-content: center;

}

.rev-content > h3{

	display: flex;
	justify-content: center;
	text-align: center;
	margin-top: 60px;
}

.rev-content{
	border: 2px solid #ccc;
	border-radius: 5px;
	padding: 16px 30px;
	margin: 16px 8px;
	/*shadows*/
	-webkit-box-shadow: 0px 0px 42px -11px rgba(181,179,181,1);
	-moz-box-shadow: 0px 0px 42px -11px rgba(181,179,181,1);
	box-shadow: 0px 0px 42px -11px rgba(181,179,181,1);
	height: 400px;
	width: 350px;
	text-align: center;
	background-color: whitesmoke;
}

.rev-content:hover{
	transform: scale(1.1);
	transition: .6s;
	-webkit-box-shadow: 0px 0px 31px 9px rgba(150,148,150,1);
	-moz-box-shadow: 0px 0px 31px 9px rgba(150,148,150,1);
	box-shadow: 0px 0px 31px 9px rgba(150,148,150,1);
}


/*.rev-content::after{
	content: "";
	clear: both;
	display: table;
}*/







/*end of review css*/